{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Issue-Tracker{% endblock %}</title>
    {% block styles %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body class="#">
        <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-secondary align-items-start">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a href="{% url 'webapp:index' %}" class="nav-link">Домой</a>
                    </li>
                    <li>
                        <a href="{% url 'webapp:create' %}" class="nav-link">Создать</a>
                    </li>
                {% if user.is_authenticated %}
                {% block menu_links %}{% endblock %}
                <li class="menu-right">
                    <a href="{% url 'accounts:logout' %}" class="nav-link">
                        Выход
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:user_detail' request.user.pk %}" class="nav-link">
                        Привет, {{ request.user }}!
                    </a>
                </li>
            {% else %}
                <li class="menu-right">
                    <a href="{% url 'accounts:login' %}" class="nav-link">
                        Вход
                    </a>
                </li>
                <li class="menu-right">
                    <a href="{% url 'accounts:create' %}" class="nav-link">
                        Регистрация
                    </a>
                </li>
                <li>
            </li>
            {% endif %}
                    {% block menu %}{% endblock %}
                </ul>
            </div>
        </nav>
            {% block content %}{% endblock %}
        </div>

        <script src="{% static 'js/main.js' %}"></script>
        {% block scripts %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
