{% extends 'base.html' %}
{% block title %}Create announce{% endblock %}
{% block content %}
   <h1>Create Task</h1>
        <form method="POST" action="{% url "webapp:create" %}" enctype="multipart/form-data">
            {% csrf_token %}
                {% include 'partial/form.html' with button_text="Create" %}
        </form>
{% endblock %}