{% extends 'base.html' %}
{% block title %}Delete file{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h1>Вы уверены что хотите удалить файл?</h1>
        <form method="POST" action="{% url 'webapp:delete' file.pk %}" class="text-center">
            {% csrf_token %}
            <p><input type="submit" class = 'btn btn-secondary' value="Подтвердить"></p>
            <p><a href="{% url 'webapp:index'  %}" class = 'btn btn-secondary'>Отмена</a></p>
        </form>
{% endblock %}