{% extends 'base.html' %}
{% block menu %}
    {% if perms.webapp.change_file %}
        <li class="nav-item">
            <a href="{% url 'webapp:update' file.pk %}" class="nav-link">Обновить</a>
        </li>
    {% elif request.user == file.author %}
        <li class="nav-item">
            <a href="{% url 'webapp:update' file.pk %}" class="nav-link">Обновить</a>
        </li>
    {% endif %}
    {% if perms.webapp.delete_file %}
        <li>
            <a href="{% url 'webapp:delete' file.pk %}" class="nav-link">Удалить</a>
        </li>
    {% elif request.user == file.author %}
        <li>
            <a href="{% url 'webapp:delete' file.pk %}" class="nav-link">Удалить</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if file.author %}
        <h5><a href="{% url "accounts:user_detail" file.author.pk %}">Добавил: {{ file.author }}</a></h5>
    {% else %}
        <h5>Добавил: Аноним</h5>
    {% endif %}
    <p><a href="{{ file.file.url }}" download >Загрузить файл</a></p>
    <p>{{ file.name }}</p>
    <p>  Загружен:   {{ file.created_at }}</p>
    <p> Доступ: {{ file.access }}</p>
{% endblock %}