{% extends 'base.html' %}
{% load i18n %}
{% block menu %}
    <div class="search col-md-8" >
        {% include 'partial/simple_search.html' %}
    </div>
{% endblock %}
{% block title %}Список файлов{% endblock %}
{% block content %}
    <h1 class="text-center mb-5">Список файлов</h1>
    <div class="row">
        {% for file in files %}
                <div class="col-md-12 mt-5 mb-5 border border-primary" id="product-{{ file.pk }}" >
                    <h5 class="card-header"><a href="{% url "webapp:detail" file.pk %}"
                           class="btn bg-secondary">{{ file.name }}</a></h5>
                    {% if file.author %}
                        <p class="card-body">
                            <a href="{% url 'accounts:user_detail' file.author.pk%}">
                                Добавил: {{ file.author }}
                            </a>
                    {% else %}
                        </p>
                        <p class="card-body">{% blocktrans %}Добавил: Аноним {% endblocktrans %}</p>
                    {% endif %}
                        <p><a href="{{ file.file.url }}" download >Загрузить файл</a></p>
                        <p>Загружен: {{ file.created_at }}</p>
                        <p> Доступ к файлу: {{ file.access }}</p>
                </div>
            </div>
        {% endfor %}
    {% if is_paginated %}
            {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
