{% extends 'base.html' %}
{% block title %}Редактировать{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h1>Изменить</h1>
        <form method="POST" action="{% url 'webapp:update' file.pk %}">
            {% include 'partial/form.html' with button_text="Update" %}
        </form>
{% endblock %}